a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

header {
    margin: auto;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}
.header-container-main {
    padding: 20px 250px 100px;
}
.header-container-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
.header-container-two p {
    margin: 0px 0px 10px 0px;
}
.menu-right {
    display: flex;
    flex-direction: row;
}
.menu-right a {
    margin-left: 20px;
}
.menu-left {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}
.menu-left img {
    max-width: 22px;
    padding-left: 10px;
    padding-bottom: 2px;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
}
button {
    width: 120px;
    height: 38px;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}
.img-placeholder img {
    width: 470px;
    height: 228px;
}
a {
    color: #e5e7eb;
}
